# Local environment
backend/.env
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Database
db.sqlite3

# static & media
backend/staticfiles/
backend/media/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.agent/
.gemini/
